<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.youryun.mapper.YunFileMapper">
<!--   id有AUTO_INCREMENT约束 我们只需要将主键设置为null，0或者不设置该字段，数据库就会为我们自动生成一个主键值。so在插入式默认0就行了-->
    <insert id="addFile" parameterType="com.example.youryun.pojo.YunFile" >
        insert into file(id,user_name,file_name,file_path,file_size,file_type,state,isDir,add_data)
        values(#{id},#{user_name},#{file_name},#{file_path},#{file_size},#{file_type},#{state},#{isDir},#{add_data})
    </insert>
    <select id="showFiles" resultType="com.example.youryun.pojo.YunFile">
<!--        &lt;!&ndash;   想知道这里sql语句为什么这么写嘛。额，试出来的。-->
        select * from file where state=1 and file_path like concat(#{presentPath},'%') order by  isDir desc;
    </select>
    <select id="downloadFile" resultType="com.example.youryun.pojo.YunFile">
        select * from file where id = #{id}
    </select>
    <insert id="makeFolder" parameterType="com.example.youryun.pojo.YunFile" >
        insert into file(id,user_name,file_name,file_path,file_size,file_type,state,isDir,add_data)
        values(#{id},#{user_name},#{file_name},#{file_path},#{file_size},#{file_type},#{state},#{isDir},#{add_data})
    </insert>
    <select id="getFolderPath" resultType="String">
        select file_path from file where id = #{id}
    </select>
    <update id="throwInBin">
-- 这里只改自己的哦!
        update file set state=0 where file_path=#{file_path}
    </update>
    <update id="changeFileName">
        update file set file_name=#{newFileName} where id=#{id}
    </update>

</mapper>